<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='background_styles.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
    <script src="{{ url_for('static', filename='script.js')}}" defer></script>
    <title>Akt 4 Status</title>
  </head>
  <body>
    <div class="titles" style="margin-bottom: 50px; width: 100%; align-content: center">
    <div class="title-angel">Engel</div>
    <div class="title-demon">Dämon</div>
    </div>
    <div class="progress-bars" style="width: 100%">
    <div class="progress-bar" style="--width: 0; margin-right: 5%; --gradientColor1: #af99b0; --gradientColor2: #bfacc0;" data-label="Loading..."></div>
    <div class="progress-bar" style="--width: 0" data-label="Loading..."></div>
    </div>
  </body>
</html>
